---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [collab, ugrad, ugrad-alum]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---

<div class="jumbotron">
    <p>
        <b>AI在线问诊</b>不出门即可与医生交流<b>选择科室</b>,申请问诊<b>填写资料</b>。等待接诊即<b>开始咨询</b>。 
    </p>
    <p>
   
    </p>
</div>


</section>

<script
	type="module"
	src="https://gradio.s3-us-west-2.amazonaws.com/6.5.1/gradio.js"
></script>

<gradio-app src="https://fehan-feihan1.hf.space"></gradio-app>


<gradio-app src="https://fehan-feihan-cpu.hf.space" theme_mode="light"></gradio-app>
<script
	type="module"
	src="https://gradio.s3-us-west-2.amazonaws.com/6.3.0/gradio.js"
></script>


></iframe>





<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
